* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation Bar */
.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #A41150;
    color: #fff;
    background-color: #A41150;
    padding: 5px 20px 5px 20px;
}

.contact-info p {
    font-family: inherit;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

p {
    font-family: 'Montserrat ExtraBold';
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding: 5px;
    /* text-shadow: 1px 1px #464444; */
}

.fa-solid,
.fa-regular,
.fa-brands {
    color: #fff;
    padding-right: 10px;
}

#email,
#socialmedia {
    padding-left: 20px;
}

#cellphone,
#business-email {
    color: #fff;
}

.container {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    flex: 1;
}

.nav {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    padding-top: 20px;
    flex-wrap: wrap;
    background-color: #fff;
}

.nav-bar {
    display: -webkit-box;
    display: flex;
}

.logo-text {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.h2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.logo {
    width: 200px;
}

.letter {
    width: 300px;
}

ul,
a {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    list-style: none;

    color: #000;
}

a:hover {
    text-decoration: 2px solid underline #A41150;
    text-underline-offset: 5px;
    border-radius: 5px;
    color: #A41150;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.active2 {
            -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
            -webkit-text-decoration-color: #A41150;
            text-decoration-color: #A41150;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;
            color: #A41150;
            -moz-text-decoration-color: #A41150;
}

.active:focus {
            -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
            -webkit-text-decoration-color: #A41150;
            text-decoration-color: #A41150;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;
            color: #A41150;
            -moz-text-decoration-color: #A41150;
}

.nav-bar li {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.nav-bar li a {
    display: block;
    padding: 15px 20px 15px 20px;
}
/* End Navigation Bar */

/* Image Banner */
img {
    width: 100%;
    object-fit: cover;
}

.main-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.banner {
    position: absolute;
    width: 600px;
    padding-left: 200px;
    /* background: rgba(0, 0, 0, 0.17);
    border-radius: 10px; */
}

.banner h1:nth-child(2) {
    color: #A41150;
}

h1 {
    font-size: 37px;
    font-weight: 700;
    color: #000;
    padding-left: 5px;
}
/* End Image Banner */

.header {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    padding: 10px 0 10px 0;

    color: #97793E;
}

h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-bottom: 20px;

    color: #A41150;
}

.single-word {
    color: #000;
}

/* card */
.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-btn {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 450px;
    position: relative;
}

.img-fluid {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3 {
    position: absolute;
    bottom: 80px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    background-color: rgba(151, 121, 62, 0.5);
    width: 100%;
    text-align: center;
}

.button {
    width: 250px;
    color: #000;
    padding: 20px 0;
    margin: 10px auto;
    border: 2px solid #A41150;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
}

.fa-right-long {
    padding-left: 2px;
    color: #A41150;
}

.button:hover
.fa-right-long {
    color: #fff;
}

.card-btn .button:hover {
    background-color: #A41150;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* end card */

footer {
    background-color: #A41150;
    color: #fff;
    padding: 10px;
    text-align: center;
}

small {
    font-size: 15px;
    font-weight: 700;
}


/* Mobile Mode */
@media (max-width: 600px) {
    .nav {
        padding-top: 10px;
    }

    .nav-bar {
        -webkit-box-pack: center;
                justify-content: center;
        flex-wrap: wrap;
    }

    .contact-info {
        display: none;
    }

    .logo-text {
        justify-content: center;
    }

    .h2 {
        padding-left: 10px;
    }

    .logo {
        width: 100px;
    }

    .letter {
        width: 200px;
    }

    /* Image Banner */
    .main-banner {
        padding-top: 0;
    }

    .banner {
        padding-left: 10px;
    }

    .banner {
        width: 200px;
    }
    
    .woman-painting {
        height: auto;
    }

    h1 {
        padding: 0;
        font-size: 22px;
    }

    p {
        padding: 5px 0 0 0;
        font-size: 15px;
        color: #000;
    }

    .banner {
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }
    /* End Image Banner */

    header {
        font-size: 30px;
    }



    /* card */
    .header {
        font-size: 15px;
        padding: 10px 0 0 0;
        line-height: 25px;
    }

    h2 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .card {
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-fluid {
        height: 220px;
    }
    /* end card */
}

@media (prefers-color-scheme: dark) {
    .banner h1:nth-child(2),
    .fa-right-long,
    h2 {
        color: #FF85AF;
    }

    .button {
        color: #fff;
        border: 2px solid #FF85AF;
    }

    .nav {
        background-color: #000;
    }

    ul,
    a {
        color: #fff;
    }

    a:hover {
        text-decoration: 2px solid underline #FF85AF;
        color: #FF85AF;
    }

    .active2,
    .active:focus {
        color: #FF85AF;
        text-decoration-color: #FF85AF;
        -moz-text-decoration-color: #FF85AF;
    }

    .single-word {
        color: #fff;
    }

    #cellphone:hover,
    #business-email:hover {
        text-decoration: none;
    }
}